body{
  margin: 0;
  padding-top: 80px;
  padding-left: 80px;
  background-color: rgb(248, 248, 248);
  font-family: Roboto, Arial;
}

@media (min-width:1200px){
  body{
    padding-left: 200px;
  }
}

p {
  font-family: Roboto, Arial;
  margin-bottom: 0;
  margin-top: 0;
}