.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 4px;
}

@media (min-width:1200px){
  .sidebar{
    width: 192px;
  }
}

.sidebar-link{
  height: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media (min-width:1200px){
  .sidebar-link{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.sidebar-link img{
  height: 24px;
  margin-top: 6px;
}

@media (min-width:1200px){
  .sidebar-link img{
    height: 24px;
    margin-top: 6px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.sidebar-link div{
  margin-top: 6px;
  font-size: 10px;
}