.grid-youtube {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  padding-left: 16px;
  padding-right: 25px;
}

.grid-youtube {
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 871px) and (max-width: 1124px) {
  .grid-youtube {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1125px) {
  .grid-youtube {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.thumbnails-row {
  position: relative;
  margin-top: 1px;
}

.thumbnails {
  width: 100%;
}

.video-time {
  position: absolute;
  right: 4px;
  bottom: 8px;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 4px;
  border-radius: 2px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 36px 1fr;
  column-gap: 12px;
}

.channel-picture {
  width: 99%;
}

.thumbnails-row {
  margin-bottom: 9px;
  cursor: pointer;
}

.profile-picture-container {
  position: relative;
}

.profile-picture {
  width: 100%;
  border-radius: 50%;
}

.video-title-link {
  text-decoration: none;
  color: black;
}

.profile-tooltip-container {
  position: absolute;
  background-color: white;
  display: flex;
  width: 220px;
  height: 85px;
  border-radius: 5px;
  box-shadow: 5px 1px 7px rgba(0, 0, 0, 0.25);
  align-items: center;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  z-index: 100;
}

.profile-tooltip-container img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: 12px;
  margin-right: 8px;
}

.profile-tooltip-title {
  font-weight: 700;
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 6px;
}

.profile-tooltip-stats {
  line-height: 13px;
  color: rgb(96, 96, 96);
  font-size: 14px;
  font-weight: 500;
}

.profile-picture-container:hover .profile-tooltip-container {
  opacity: 1;
}


.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 11px;
}


@media (min-width: 1000px) {
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
}

.video-author,
.video-stats {
  line-height: 13px;
  margin-top: 5px;
  color: rgb(96, 96, 96);
  font-size: 12px;
}

@media (min-width: 1000px) {
  .video-author,
  .video-stats {
    font-size: 14px;
  }
}